// h2 {
// }

#about-me {
    font-variation-settings: "wght" 1000, "wdth" 400;
    font-size: 400%;
    margin-top: 400px;
    margin-bottom: 2000px;
    margin-left: 2.5em;
    margin-right: 1em;
    min-height: 100vh;
    // text-align: justify;
}

.inverted {
    margin-top: 50%;
    // -webkit-text-stroke: 3px white;
    color: black;
    font-family:'grtsk';
    text-shadow: #fff 0 0 1px, #fff 0 0 1px, #fff 0 0 1px, #fff 0 0 1px, #fff 0 0 1px, #fff 0 0 1px;
    
}