// h2 {
// }

#about {
    font-variation-settings: "wght" 1000, "wdth" 400;
    font-size: 400%;
    margin-top: 400px;
    margin-bottom: 1000px;
    margin-left: 2.5em;
    margin-right: 1em;
    min-height: 100vh;
    // text-align: justify;
}

