footer {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // position: sticky;
    position: fixed;
    bottom: 0;
}

#socials {
    margin-left: 1%;
}

#contact {
    border: solid black;
    background-color: black;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    position: fixed;
    bottom: 3%;
    right: 1.5%;

}