header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
    margin-left: 2.5%;
    position: fixed;
}

nav {
    // margin-bottom: 20%;sticky 
    position: fixed;
    right: 0;
}

ul li {
    list-style-type: none;
}