
@media (min-width: 1300px) {
    header {
        font-size: 2.3rem;
        top: 2%;
    }
    footer {
        font-size: 2.3rem;
        bottom: 2%;
        #socials {
            margin-left: 0%;
        }
        #contact {
            background-color: black;
            padding-bottom: .5rem;
            padding-left: .5rem;
            padding-right: .5rem;
            right: .75%;
        }
    }
    .marg-bot {
        margin-bottom: 160vh;
      }
      .min-hei {
        min-height: 100vh;
    }
    #prof-pic {
      width: 40%;
      height: auto;
    }
    #title-text {
      font-size: 500%;
      margin-top: 40%;
    }
    #skills {
        font-size: 575%;
        margin-left: 5em;
        margin-right: 4em;
    }
    #about {
        font-size: 550%;
        margin-left: 5em;
        margin-right: 5em;
    }
    #know-me {
        margin: 3rem;
        font-size: 400%;
    }
    #salutations {
        margin-left: 2em;
        margin-right: 4em;
        text-align: center;
        align-self: center;
        min-height: 60vh;
        margin-bottom: 3vh;
    }
  }

@media (max-width: 1299px) {
    header {
        font-size: 2.3rem;
        top: 2%;
    }
    footer {
        font-size: 2.3rem;
        bottom: 2%;
        #socials {
            margin-left: 0%;
        }
        #contact {
            background-color: black;
            padding-bottom: .5rem;
            padding-left: .5rem;
            padding-right: .5rem;
            right: .75%;
        }
    }
    .marg-bot {
        margin-bottom: 140vh;
      }

      .min-hei {
        min-height: 90vh;
    }
    #prof-pic {
        width: 45%;
        height: auto;
    }
    #title-text {
        font-size: 400%;
        margin-top: 45%;
    }
    #skills {
        font-size: 500%;
        margin-left: 4em;
        margin-right: 4em;
    }
    #about {
        font-size: 500%;
        margin-left: 4em;
        margin-right: 4em;
    }
    #know-me {
        margin: 3rem;
        font-size: 400%;
    }
    #salutations {
        margin-left: 2em;
        margin-right: 4em;
        text-align: center;
        align-self: center;
        min-height: 60vh;
        margin-bottom: 5vh;
    }
}

@media (max-width: 1100px) {
    header {
        font-size: 2.3rem;
        top: 2%;
    }
    footer {
        font-size: 2.3rem;
        bottom: 2%;
        #socials {
            margin-left: 0%;
        }
        #contact {
            background-color: black;
            padding-bottom: .5rem;
            padding-left: .5rem;
            padding-right: .5rem;
            right: .75%;
        }
    }
    .marg-bot {
        margin-bottom: 120vh;
      }

      .min-hei {
        min-height: 90vh;
    }
    #prof-pic {
        width: 50%;
        height: auto;
    }
    #title-text {
        font-size: 350%;
        margin-top: 50%;
    }
    #skills {
        font-size: 425%;
        margin-left: 2.4em;
        margin-right: 4em;
    }
    #about {
        font-size: 450%;
        margin-left: 2.75em;
        margin-right: 4em;
    }
    #know-me {
        font-variation-settings: "wght" 1000, "wdth" 400;
        margin: 3rem;
        font-size: 400%;
        
    }
    #salutations {
        margin-left: 2em;
        margin-right: 4em;
        text-align: center;
        align-self: center;
        min-height: 50vh;
        margin-bottom: 15vh;
    }
}

@media (max-width: 780px) {
    header {
        font-size: 1.5rem;
        top: 2%;
    }
    footer {
        font-size: 1.5rem;
        bottom: 2%;
        #socials {
            margin-left: 0%;
        }
    }
    .marg-bot {
        margin-bottom: 100vh;
      }
      .min-hei {
        min-height: 90vh;
    }
    #prof-pic {
        width: 55%;
        height: auto;
    }
    #title-text {
        font-size: 265%;
        margin-top: 60%;
    }
    #about {
        font-size: 275%;
        margin-left: 3.4em;
        margin-right: 2.1em;
        // text-align: justify;
    }
    #skills {
        font-size: 375%;
        margin-left: 2em;
        margin-right: 4em;
    }

    #know-me {
        font-variation-settings: "wght" 1000, "wdth" 400;
        margin: 3rem;
        font-size: 400%;
        
    }
}

// @media (max-width: 500px) {
//     #prof-pic {
//         width: 55%;
//         height: auto;
//     }

//     #title-text {
//         font-size: 200%;
//         margin-top: 58%;
//     }
//     #about {
//         font-variation-settings: "wght" 1000, "wdth" 400;
//         font-size: 200%;
//         margin-left: 3.75em;
//         margin-right: 2em;
//         min-height: 100vh;
//         // text-align: justify;
//     }
//     #skills {
//         font-variation-settings: "wght" 1000, "wdth" 400;
//         font-size: 200%;
//     }
// }

@media (max-width: 426px) {
    header {
        font-size: 1rem;
        top: 2%;
        #right-nav {
            right: 7%
        }
    }
    footer {
        font-size: 1rem;
        bottom: 2%;
        #socials {
            margin-left: 0%;
        }
        #contact {
            background-color: black;
            padding-bottom: .5rem;
            padding-left: .5rem;
            padding-right: .5rem;
            right: .75%;
        }
    }
    .marg-bot {
        margin-bottom: 80vh;
      }

      .min-hei {
        min-height: 80vh;
      }
    #title-text {
        font-size: 125%;
        margin-top: 53%;
    }
    #about {
        font-size: 151%;
        margin-left: 4em;
        margin-right: 4em;
        // text-align: justify;
    }
    #skills {
        font-size: 155%;
        margin-left: 3.5rem;
        min-height: 40vh;
    }
    #socials {
        display: block;
        position: relative;
        text-align: center;
        align-self: center;
    }
    
    #know-me {
        font-variation-settings: "wght" 1000, "wdth" 400;
        margin: 2rem;
        font-size: 235%;
        
    }
    
    .icon {
        width: 8vh;
        height: auto;
        margin: 25px;
    }
}

@media (max-width: 200px) {
    #title-text {
        font-size: 40%;
        margin-top: 65%;
    }
    .min-hei {
        min-height: 50vh;
      }
    #about {
        font-variation-settings: "wght" 1000, "wdth" 400;
        font-size: 40%;
        margin-left: 4em;
        margin-right: 1em;
    }
    #skills {
        font-size: .5em;
        margin-left: 2em;
    }
}