@font-face {
  font-family:'Gingham'; 
  src: url("Gingham.woff2")
    format("woff2");
}

.centered {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80vh;
}

h1 {
  position: absolute;
  text-align: center;
  align-self: center;
  margin-top: 50%;
  color: white;
  font-family:'grtsk';
  font-variation-settings: "wght" 1000, "wdth" 300;
  font-size: 1000%;
}

#prof-pic {
  border-radius: 50%;
  width: 45%;
  height: auto;
}

// about-me-text {
  
// }

.anim1 {
  animation: anim1 2s infinite alternate;
}
@keyframes anim1 {
  from {
    font-variation-settings: "wdth" 200;
  }
  to {
    font-variation-settings: "wdth" 1000;
  }
  
}

.anim2 {
  animation: anim2 2s infinite alternate;
}

@keyframes anim2 {
  from {
    font-variation-settings: "wdth" 1000;
  }
  to {
    font-variation-settings: "wdth" 200;
  }
  
}



