#skills {
    // display: flex;
    // grid-template-columns: 1fr 1fr;
    font-variation-settings: "wght" 1000, "wdth" 400;
    font-size: 500%;
    margin-bottom: 600px;
    margin-left: 4em;
    margin-right: 4em;
    min-height: 80vh;
}